<mat-list *ngIf="state.usedFilters.length > 0">
  <h3 matSubheader fxLayout="row">
    <div fxFlex>{{ 'desc.pouzite_filtry' | translate }}</div>
    <a [matTooltip]="'desc.odstranit_vsechny_filtry' | translate" matTooltipPosition="above" (click)="removeAll()"><mat-icon class="material-icons-outlined">highlight_off</mat-icon></a>
  </h3>
  <div class="app-list-content-wrapper">
    <mat-list-item *ngFor="let f of state.usedFilters">
      <a [matTooltip]="'desc.odstranit_tento_filtr' | translate" matTooltipPosition="above" (click)="removeFilter(f)"><mat-icon>clear</mat-icon></a>
      <div><span>{{ 'field.' + f.field | translate }}:</span> {{ f.value }}</div>
    </mat-list-item>
  </div>
</mat-list>