<h1 mat-dialog-title>{{ 'desc.zmena_stavu_pro' | translate }}: <span>{{ data.marc_245a }} {{ data.marc_245b }} {{ data.marc_245n }} {{ data.marc_245p }} {{ data.marc_245c }} {{ data.marc_245i }}</span></h1>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="app-w-100 app-clean-bottom-gap app-mb-4">
    <mat-label>{{ 'desc.stav' | translate }}</mat-label>
    <mat-select name="newState" [(ngModel)]="newState" (selectionChange)="changeState($event)">
      <mat-option *ngFor="let stav of dntStates" [value]="stav" [matTooltip]="'state.tooltip.' + stav | translate">
        {{ stav }} - {{ 'state.tooltip.' + stav | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="app-w-100 app-clean-bottom-gap app-mb-4" *ngIf="newState == 'PA' || newState == 'A' || newState == 'NL' ">
    <mat-label>{{ 'desc.licence' | translate }}</mat-label>
    <mat-select name="newState" [(ngModel)]="newLicense" [disabled]="changeLicensePossible()">
      <mat-option *ngFor="let l of ['dnntt', 'dnnto']" [value]="l" >
        {{ l }} - {{ 'license.' + l | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="app-overflow-x-auto">
    <table [cellSpacing]="0" [cellPadding]="0" class="app-table app-mb-4" *ngIf="shouldShowGranularity()">
      <thead>
        <tr>
          <th>{{ 'desc.rocnik' | translate }}</th>
          <th>{{ 'desc.cislo' | translate }}</th>
          <th>{{ 'desc.odkaz' | translate }}</th>
          <th class="app-col-stav">{{ 'desc.stav' | translate }}</th>
          <th class="app-col-licence">{{ 'desc.licence' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let itm of granularity; let idx = index">
          <tr *ngIf="itm.rocnik" >
            <td>{{ itm.rocnik }}</td>
            <td>{{ itm.cislo }}</td>
            <td>{{ itm.link }}</td>
            <td class="app-col-stav">
              <mat-select name="newState" [(ngModel)]="itm.kuratorstav"  >
                <mat-option *ngFor="let stav of dntStatesItem" [value]="stav">
                  {{ stav }}
                </mat-option>
              </mat-select>
            </td>
  
            <td class="app-col-licence">
              <mat-select name="newState" [(ngModel)]="itm.license"  *ngIf="itm.kuratorstav == 'A' || itm.kuratorstav == 'PA'">
                <mat-option *ngFor="let license of ['dnnto','dnntt']" [value]="license">
                  {{ license }}
                </mat-option>
              </mat-select>
  
            </td>
            <td class="app-col-action app-col-remove">
              <mat-icon class="app-mr-1">clear</mat-icon>
              <a (click)="removeGranularitu(idx)">{{ 'desc.odebrat_granularitu' | translate }}</a>
            </td>
          </tr>
        </ng-container>
        <tr>
          <td><input name="rocnik" [(ngModel)]="rocnik" size="4" class="app-input" /></td>
          <td><input name="cislo" [(ngModel)]="cislo" size="4" class="app-input" /></td>
          <td><input name="link" [(ngModel)]="link" class="app-input" /></td>
          <td>
              <!--
            <mat-select name="newState" [(ngModel)]="stav">
              <mat-option *ngFor="let stav of dntStates" [value]="stav">
                {{ stav }}
              </mat-option>
            </mat-select>
            -->
          </td>
          <td class="app-col-licence">
            <!--
            <mat-select name="newState" [(ngModel)]="stav">
              <mat-option *ngFor="let stav of dntStates" [value]="stav">
                dnnto
              </mat-option>
            </mat-select>
            -->
          </td>
          <td class="app-col-action">
            <mat-icon class="app-mr-1">add</mat-icon>
            <a (click)="addGranularitu()">{{ 'desc.pridat_granularitu' | translate }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <mat-form-field appearance="outline" class="app-w-100 app-clean-bottom-gap">
    <mat-label>{{ 'desc.poznamka' | translate }}</mat-label>
    <textarea matInput [placeholder]="'desc.poznamka' | translate" [(ngModel)]="poznamka"></textarea>
  </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="change()" cdkFocusInitial>{{ 'desc.zmenit_stav' | translate }}</button>
  <button mat-button mat-dialog-close >{{ 'desc.zavrit' | translate }}</button>
</div>