<h1 mat-dialog-title>{{ 'desc.hromadny_navrh' | translate }}</h1>
<div mat-dialog-content>
  <mat-radio-group class="app-radio-group-vertical" [(ngModel)]="navrh" >
    <!--
    <mat-radio-button  [value]="'xx'">"MOCK"</mat-radio-button>
    <mat-radio-button  [value]="'yy'">"MOCK"</mat-radio-button>
-->
    <mat-radio-button *ngIf="navrhNaZarazeni" [value]="'NZN'">{{ 'desc.navrh_na_zarazeni' | translate }}</mat-radio-button>
    <mat-radio-button *ngIf="navrhNaVyrazeni" [value]="'VN'" >{{ 'desc.navrh_na_vyrazeni' | translate }}</mat-radio-button>
    <mat-radio-button *ngIf="navrhNaOmezeni" [value]="'VNZ'">{{ 'desc.omezit_na_terminal' | translate }}</mat-radio-button>

  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="setBulkProposal()">{{ 'desc.provest_hromadny_navrh' | translate }}</button>
  <button mat-button mat-dialog-close cdkFocusInitial>{{ 'desc.zavrit' | translate }}</button>
</div>