<h1 mat-dialog-title>Change state for {{data.title}}</h1>
<div>Current state: {{ 'state.' + data.marc_990a | translate }} <mat-icon [title]="'state.tooltip.'+ data.marc_990a | translate">info</mat-icon></div>
<div>Choose new state</div>
<div mat-dialog-content>
  <mat-radio-group aria-label="Select new state" [(ngModel)]="newState">
    <mat-radio-button *ngFor="let stav of state.dntStates" [value]="stav">{{stav}} - {{ 'state.tooltip.'+stav | translate }}</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="newState" cdkFocusInitial>Ok</button>
  <button mat-button mat-dialog-close >Cancel</button>
</div>