
<ng-container *ngIf="user">
  

  <div fxLayout="row wrap" fxLayoutAlign="start baseline">
    <div fxFlex="100%" class="app-mb-4" *ngIf="isRegister">
      <mat-radio-group [(ngModel)]="formTypeSelected">
        <mat-radio-button [value]="1">{{ 'desc.fyzicka_osoba' | translate }}</mat-radio-button>
        <mat-radio-button [value]="2">{{ 'desc.pravnicka_osoba' | translate }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div fxFlex="50%" *ngIf="formTypeSelected === 1">
      <div class="app-mr-4">
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.jmeno' | translate }}*</mat-label>
          <input matInput #jmeno="matInput" cdkFocusInitial name="name" [placeholder]="'desc.jmeno' | translate" [(ngModel)]="user.jmeno" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" *ngIf="formTypeSelected === 1">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.prijmeni' | translate }}</mat-label>
          <input matInput name="surname" [placeholder]="'desc.prijmeni' | translate" [(ngModel)]="user.prijmeni" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100%" *ngIf="formTypeSelected === 2">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.nazev_spolecnosti' | translate }}*</mat-label>
          <input matInput #jmeno="matInput" name="jmeno" [placeholder]="'desc.nazev_spolecnosti' | translate" [(ngModel)]="user.jmeno" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%">
      <div class="app-mr-4">
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.prihlasovaci_jmeno' | translate }}*</mat-label>
          <input #username="matInput" matInput [(ngModel)]="user.username" name="login" [placeholder]="'desc.prihlasovaci_jmeno' | translate" [disabled]="!isRegister" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>Email*</mat-label>
          <input matInput #email="matInput" name="email" placeholder="Email" [(ngModel)]="user.email" type="email" email />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%">
      <div class="app-mr-4">
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.telefon' | translate }}</mat-label>
          <input matInput name="phone" [placeholder]="'desc.telefon' | translate" [(ngModel)]="user.telefon" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>IČO</mat-label>
          <input matInput name="ico" placeholder="IČO" [(ngModel)]="user.ico" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100%">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.adresa' | translate }}</mat-label>
          <input matInput name="adresa" [placeholder]="'desc.adresa' | translate" [(ngModel)]="user.adresa" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" *ngIf="formTypeSelected === 2">
      <div class="app-mr-4">
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.kontaktni_osoba_jmeno' | translate }}</mat-label>
          <input matInput cdkFocusInitial name="name" [placeholder]="'desc.jmeno' | translate" [(ngModel)]="user.jmeno" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" *ngIf="formTypeSelected === 2">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.kontaktni_osoba_prijmeni' | translate }}</mat-label>
          <input matInput name="surname" [placeholder]="'desc.prijmeni' | translate" [(ngModel)]="user.prijmeni" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" *ngIf="state.user?.role === 'admin'">
      <div class="app-mr-4">
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.role' | translate }}</mat-label>
          <mat-select name="role"  [(ngModel)]="user.role">
            <mat-option *ngFor="let role of config.role" [value]="role">{{ role | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" *ngIf="state.user?.role === 'admin'">
      <div>
        <mat-checkbox name="isactive" [(ngModel)]="user.isActive" class="app-ml-8">{{ 'desc.je_aktivni' | translate }}</mat-checkbox>
      </div>
    </div>


    <div fxFlex="50%" *ngIf="state.user?.role === 'admin'">
      <div class="app-mr-4">
        <mat-form-field appearance="fill" class="app-w-100">
          <textarea matInput [placeholder]="'desc.apikey' | translate" name="apikey" [(ngModel)]="user.apikey" disabled></textarea>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" *ngIf="state.user?.role === 'admin'">
      <div>
        <mat-checkbox name="apienabled" [(ngModel)]="isApiEnabled" class="app-ml-8" (change)="switchEnableApi()">{{ 'desc.apienabled' | translate }}</mat-checkbox>
      </div>
    </div>

    <!--    
    <div fxFlex="100%" *ngIf="state.user?.role === 'admin'">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.apikey' | translate }}</mat-label>
          <textarea matInput [placeholder]="'desc.apikey' | translate" name="apikey" [(ngModel)]="user.apikey"></textarea>
        </mat-form-field>
      </div>
    </div>
  -->


    <div fxFlex="100%">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.poznamka' | translate }}</mat-label>
          <textarea matInput [placeholder]="'desc.poznamka' | translate" name="poznamka" [(ngModel)]="user.poznamka"></textarea>
        </mat-form-field>
      </div>
    </div>

  </div>
  <div class="app-mb-4">
    <section>
      <div class="app-label">{{ 'desc.role_v_systemu' | translate }}</div>
      <mat-checkbox name="autor" [(ngModel)]="autor" (change)="setNositel()">{{ 'desc.autor' | translate }}</mat-checkbox><br />
      <mat-checkbox name="dedic" [(ngModel)]="dedic" (change)="setNositel()">{{ 'desc.dedic_autorskych_prav' | translate }}</mat-checkbox><br />
      <mat-checkbox name="jiny" [(ngModel)]="jiny" (change)="setNositel()">{{ 'desc.jiny_nositel' | translate }}</mat-checkbox><br />
      <mat-checkbox name="nakladatel" [(ngModel)]="nakladatel" (change)="setNositel()">{{ 'desc.nakladatel_vydavatel' | translate }}</mat-checkbox>
    </section>
  </div>
  <mat-divider class="app-mb-4" *ngIf="isRegister"></mat-divider>
  <div class="app-mb-4" *ngIf="isRegister">
    <div class="app-label">{{ 'desc.podminky' | translate }}</div>
    <p>
      <mat-checkbox><span [innerHTML]="'registracni_podminky.podminka_1' | translate"></span></mat-checkbox>
    </p>
    <p>
      <mat-checkbox><span [innerHTML]="'registracni_podminky.podminka_2' | translate"></span></mat-checkbox>
    </p>
    <p>
      <mat-checkbox><span [innerHTML]="'registracni_podminky.podminka_3' | translate"></span></mat-checkbox>
    </p>
  </div>


</ng-container>
