<ng-container *ngIf="user">
  <div fxLayout="row wrap" class="app-register-wrapper" fxLayoutAlign="start baseline">
    <div fxFlex="50%">
      <div class="app-mr-4">
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.jmeno' | translate }}</mat-label>
          <input matInput cdkFocusInitial name="name" [placeholder]="'desc.jmeno' | translate" [(ngModel)]="user.jmeno" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.prijmeni' | translate }}</mat-label>
          <input matInput name="surname" [placeholder]="'desc.prijmeni' | translate" [(ngModel)]="user.prijmeni" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%">
      <div class="app-mr-4">
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.prihlasovaci_jmeno' | translate }}</mat-label>
          <input matInput [(ngModel)]="user.username" name="login" [placeholder]="'desc.prihlasovaci_jmeno' | translate" [disabled]="!isRegister" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>Email</mat-label>
          <input matInput name="email" placeholder="Email" [(ngModel)]="user.email" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%">
      <div class="app-mr-4">
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.telefon' | translate }}</mat-label>
          <input matInput name="phone" [placeholder]="'desc.telefon' | translate" [(ngModel)]="user.telefon" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>IČO</mat-label>
          <input matInput name="ico" placeholder="IČO" [(ngModel)]="user.ico" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100%">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.adresa' | translate }}</mat-label>
          <input matInput name="adresa" [placeholder]="'desc.adresa' | translate" [(ngModel)]="user.adresa" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" *ngIf="state.user?.role === 'admin'">
      <div class="app-mr-4">
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.role' | translate }}</mat-label>
          <mat-select name="role"  [(ngModel)]="user.role">
            <mat-option *ngFor="let role of config.role" [value]="role">{{ role | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" *ngIf="state.user?.role === 'admin'">
      <div>
        <mat-checkbox name="isactive" [(ngModel)]="user.isActive" class="app-ml-8">{{ 'desc.je_aktivni' | translate }}</mat-checkbox>
      </div>
    </div>
    <div fxFlex="100%">
      <div>
        <mat-form-field appearance="fill" class="app-w-100">
          <mat-label>{{ 'desc.poznamka' | translate }}</mat-label>
          <textarea matInput [placeholder]="'desc.poznamka' | translate" name="poznamka" [(ngModel)]="user.poznamka"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-container>