.default-group {
    background-color: #ffffff; /* Bílá barva */
}
  
.odd-group {
    background-color: #fefefe9e; /* Světle šedá */
}
  
.even-group {
    background-color: #cbddedef; /* Světle modrá */
}