<div class="app-container">
  <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
    <div fxFlex>
      {{ 'desc.num_found' | translate }}: <strong>{{ numFound }}</strong>
    </div>
    <div>
      <app-paginator [numFound]="numFound" [showSort]="false"></app-paginator>
    </div>
  </div>
  <div class="app-results-wrapper">
    <table mat-table [dataSource]="imports" class="mat-elevation-z0">
      <ng-container matColumnDef="import_date">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.datum_importu' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.date | date : 'dd.MM.yyyy HH:mm' }}</td>
      </ng-container>
      <ng-container matColumnDef="import_url">
        <th mat-header-cell *matHeaderCellDef>{{ 'URL' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.url }}</td>
      </ng-container>
      <ng-container matColumnDef="import_origin">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.Zdroj' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.origin }}</td>
      </ng-container>
      <ng-container matColumnDef="stav">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.stav' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="material-icons-outlined" [class]="element.processed ? 'processed' : 'open'" [matTooltip]="'state.' + (element.processed ? 'processed' : 'waiting') | translate" matTooltip="above">
            <ng-container *ngIf="!element.processed">lock_open</ng-container>
            <ng-container *ngIf="element.processed">lock</ng-container>
          </mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.celkem' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.num_docs }}</td>
      </ng-container>
      <ng-container matColumnDef="na_vyrazeni">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.na_vyrazeni' | translate }}</th>
        <td mat-cell *matCellDef="let element"> </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="app-text-right">
          <mat-button-toggle-group>
            <mat-button-toggle (click)="showImport(element)" [matTooltip]="'desc.vysledek_importu' | translate" matTooltipPosition="above">
              <mat-icon class="material-icons-outlined">visibility</mat-icon>
            </mat-button-toggle>    
            <mat-button-toggle *ngIf="!element.processed" (click)="process(element)" [matTooltip]="'desc.oznacit_jako_zpracovane' | translate" matTooltipPosition="above">
              <mat-icon class="material-icons-outlined">done</mat-icon>
            </mat-button-toggle>    
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
  <div class="app-mt-4">
    <app-paginator [numFound]="numFound" [showSort]="false"></app-paginator>
  </div>
</div>
