<div class="app-container">
  <div fxLayout="row" fxLayoutGap="32px">
    <div fxFlex="350px" class="app-left app-fx-facets">
      <div class="app-facets-used">
        <mat-list *ngIf="stateFilter?.length || newStavFilter?.length">
          <h3 matSubheader fxLayout="row">
            <div fxFlex>{{ 'desc.pouzite_filtry' | translate }}</div>
            <a [matTooltip]="'desc.odstranit_vsechny_filtry' | translate" matTooltipPosition="above" (click)="removeAllFilters()"><mat-icon class="material-icons-outlined">highlight_off</mat-icon></a>
          </h3>
          <div class="app-list-content-wrapper">
            <ng-container *ngFor="let filter of filterState">
              <mat-list-item *ngIf="stateFilter === filter.id">
                <a [matTooltip]="'desc.odstranit_tento_filtr' | translate" matTooltipPosition="above" (click)="setStavZadosti(filter.id)"><mat-icon>clear</mat-icon></a>
                <div>
                  <span>{{ 'desc.stav_zadosti' | translate }}:</span> {{ 'desc.' + filter.val | translate }}
                </div>
              </mat-list-item>
            </ng-container>
            <ng-container *ngFor="let filter of filterType">
              <mat-list-item *ngIf="newStavFilter === filter.id">
                <a [matTooltip]="'desc.odstranit_tento_filtr' | translate" matTooltipPosition="above" (click)="setStav(filter.id)"><mat-icon>clear</mat-icon></a>
                <div>
                  <span>{{ 'desc.typ_navrhu' | translate }}:</span> {{ 'desc.' + filter.val | translate }}
                </div>
              </mat-list-item>
            </ng-container>  
          </div>
        </mat-list>
      </div>

      <mat-accordion multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
            <mat-panel-title>
              {{ 'desc.stav_zadosti' | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="stateFilter !== 'open'">
            <a (click)="setStavZadosti('open')">{{ 'desc.neodeslano' | translate }}</a>
          </div>
          <div *ngIf="stateFilter !== 'waiting'">
            <a (click)="setStavZadosti('waiting')">{{ 'desc.ceka_na_posouzeni' | translate }}</a>
          </div>
          <div *ngIf="stateFilter !== 'processed'">
            <a (click)="setStavZadosti('processed')">{{ 'desc.zpracovano' | translate }}</a>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
            <mat-panel-title>
              {{ 'desc.typ_navrhu' | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="newStavFilter !== 'NZN'">
            <a (click)="setStav('NZN')">{{ 'desc.navrzeno_na_zarazeni' | translate }}</a>
          </div>
          <div *ngIf="newStavFilter !== 'VVS'">
            <a (click)="setStav('VVS')">{{ 'desc.navrzeno_na_vyrazeni' | translate }}</a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div fxFlex class="app-right">
      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
        <div fxFlex>
          {{ 'desc.num_found' | translate }}: <strong>{{ numFound }}</strong>
        </div>
        <div>
          <app-paginator [numFound]="numFound"></app-paginator>
        </div>
      </div>
      <div class="app-results-wrapper">
        <table mat-table [dataSource]="zadosti" class="mat-elevation-z0">
          <ng-container matColumnDef="datum_zadani">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.datum_zadani' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.datum_zadani | date : 'dd.MM.yyyy HH:mm' }}</td>
          </ng-container>
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef [hidden]="state.user.role !== 'kurator'">{{ 'desc.uzivatel' | translate }}</th>
            <td mat-cell *matCellDef="let element" [hidden]="state.user.role !== 'kurator'">{{ element.user }}</td>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.stav' | translate }}</th>
            <td mat-cell *matCellDef="let element" [class]="element.state">{{ 'state.' + element.state | translate }}</td>
          </ng-container>
          <ng-container matColumnDef="navrh">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.navhr_na_stav' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.navrh }}</td>
          </ng-container>
          <ng-container matColumnDef="datum_vyrizeni">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.datum_vyrizeni' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.datum_vyrizeni | date : 'dd.MM.yyyy HH:mm'  }}</td>
          </ng-container>
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.pocet_zadosti' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.identifiers.length }}</td>
          </ng-container>
          <ng-container matColumnDef="pozadavek">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.pozadavek' | translate }}</th>
            <td mat-cell *matCellDef="let element" [matTooltip]="element.pozadavek" matTooltipPosition="above">
              <div class="app-text-cutter">
                {{ element.pozadavek }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="poznamka">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.poznamka' | translate }}</th>
            <td mat-cell *matCellDef="let element" [matTooltip]="element.poznamka" matTooltipPosition="above">
              <div class="app-text-cutter">
                {{ element.poznamka }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="app-text-right">
              <mat-button-toggle-group>
                <mat-button-toggle (click)="showRecords(element)" [matTooltip]="state.user.role === 'kurator' && element.state === 'waiting' ? ('desc.zpracovani_zadosti' | translate) : ('desc.prehled_zadosti' | translate)" matTooltipPosition="above">
                  <mat-icon class="material-icons-outlined">{{ state.user.role === 'kurator' && element.state === 'waiting' ? 'rule' : 'visibility' }}</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle *ngIf="element.state === 'open'" (click)="send(element)" [matTooltip]="'Poslat' | translate" matTooltipPosition="above">
                  <mat-icon class="material-icons-outlined">send</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle *ngIf="element.state === 'waiting' && state.user.role === 'kurator'" (click)="process(element)" [matTooltip]="'desc.oznacit_jako_zpracovane' | translate" matTooltipPosition="above">
                  <mat-icon class="material-icons-outlined">done</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
      <div class="app-mt-4">
        <app-paginator [numFound]="numFound"></app-paginator>
      </div>
    </div>
  </div>
</div>
