<div class="app-container">
  <!-- <h1>Debug => <ng-container *ngIf="stateFilter?.length || newStavFilter?.length">aktivni</ng-container></h1> -->
  <div fxLayout="row" fxLayoutGap="32px">
    <div fxFlex="350px" class="app-left app-fx-facets">
      <mat-accordion multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
            <mat-panel-title>
              {{ 'desc.stav_zadosti' | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a (click)="setStavZadosti('open')">{{ 'desc.neodeslano' | translate }}</a>
            <mat-icon *ngIf="stateFilter === 'open'">done</mat-icon>
          </div>
          <div>
            <a (click)="setStavZadosti('waiting')">{{ 'desc.ceka_na_posouzeni' | translate }}</a>
            <mat-icon *ngIf="stateFilter === 'waiting'">done</mat-icon>
          </div>
          <div>
            <a (click)="setStavZadosti('processed')">{{ 'desc.zpracovano' | translate }}</a>
            <mat-icon *ngIf="stateFilter === 'processed'">done</mat-icon>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
            <mat-panel-title>
              {{ 'desc.typ_navrhu' | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a (click)="setStav('NZN')">{{ 'desc.navrzeno_na_zarazeni' | translate }}</a>
            <mat-icon *ngIf="newStavFilter === 'NZN'">done</mat-icon>
          </div>
          <div>
            <a (click)="setStav('VVS')">{{ 'desc.navrzeno_na_vyrazeni' | translate }}</a>
            <mat-icon *ngIf="newStavFilter === 'VVS'">done</mat-icon>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div fxFlex class="app-right">
      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
        <div fxFlex>
          {{ 'desc.num_found' | translate }}: <strong>{{ numFound }}</strong>
        </div>
        <div>
          <app-paginator [numFound]="numFound"></app-paginator>
        </div>
      </div>
      <div class="app-results-wrapper">
        <table mat-table [dataSource]="zadosti" class="mat-elevation-z0">
          <ng-container matColumnDef="datum_zadani">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.datum_zadani' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.datum_zadani | date : 'dd.MM.yyyy HH:mm' }}</td>
          </ng-container>
          <ng-container matColumnDef="user" hidden="state.user.role === 'kurator'">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.uzivatel' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.user }}</td>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.stav' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.state }}</td>
          </ng-container>
          <ng-container matColumnDef="new_stav">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.navhr_na_stav' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.new_stav }}</td>
          </ng-container>
          <ng-container matColumnDef="datum_vyrizeni">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.datum_vyrizeni' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.datum_vyrizeni | date : 'dd.MM.yyyy HH:mm'  }}</td>
          </ng-container>
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.pocet_zadosti' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.identifiers.length }}</td>
          </ng-container>
          <ng-container matColumnDef="pozadavek">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.pozadavek' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.pozadavek }}</td>
          </ng-container>
          <ng-container matColumnDef="poznamka">
            <th mat-header-cell *matHeaderCellDef>{{ 'desc.poznamka' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.poznamka }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="app-text-right app-cell-btn-action">
              <mat-button-toggle-group>
                <mat-button-toggle (click)="showRecords(element)" [matTooltip]="state.user.role === 'kurator' && element.state === 'waiting' ? ('desc.zpracovani_zadosti' | translate) : ('desc.prehled_zadosti' | translate)" matTooltipPosition="above">
                  <mat-icon class="material-icons-outlined">{{ state.user.role === 'kurator' && element.state === 'waiting' ? 'rule' : 'visibility' }}</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle *ngIf="element.state === 'open'" (click)="send(element)" [matTooltip]="'Poslat' | translate" matTooltipPosition="above">
                  <mat-icon class="material-icons-outlined">send</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle *ngIf="element.state === 'waiting' && state.user.role === 'kurator'" (click)="process(element)" [matTooltip]="'desc.oznacit_jako_zpracovane' | translate" matTooltipPosition="above">
                  <mat-icon class="material-icons-outlined">done</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>

              <!-- <button mat-icon-button (click)="showRecords(element)"><mat-icon class="material-icons-outlined">{{ state.user.role === 'kurator' && element.state === 'waiting' ? 'view_list' : 'visibility' }}</mat-icon></button>&#160;
              <button *ngIf="element.state === 'open'" mat-icon-button (click)="send(element)"><mat-icon>send</mat-icon></button>&#160;
              <button *ngIf="element.state === 'waiting' && state.user.role === 'kurator'" mat-icon-button [title]="'mark_as_processed' | translate" (click)="process(element)"><mat-icon>done</mat-icon></button> -->
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
      <app-paginator [numFound]="numFound"></app-paginator>
    </div>
  </div>
</div>
