<h1 mat-dialog-title>{{ 'desc.seznam_exportovanych_souboru' | translate }}</h1>
<div mat-dialog-content>
  <div class="app-overflow-x-auto">
    <table class="app-table" [cellPadding]="0" [cellSpacing]="0">
      <tbody>
        <tr *ngFor="let expFile of data.files">
          <td><a href="api/iexports/exported_file?path={{ encodePath(expFile.path) }}&exportname={{data.exportname}}">{{ expFile.name }}</a>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>{{ 'desc.zavrit' | translate }}</button>
</div>