<mat-accordion multi>
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
      <mat-panel-title>
        Facet 1
      </mat-panel-title>
    </mat-expansion-panel-header>
    Content
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
      <mat-panel-title>
        Facet 2
      </mat-panel-title>
    </mat-expansion-panel-header>
    Content
  </mat-expansion-panel>
</mat-accordion>

<div>
  <ul>
    <li *ngFor="let facet of facets">
      {{ facet }}
      <ul>
        <li *ngFor="let f of facet_fields[facet]">
          {{f.name}}
        </li>
      </ul>
    </li>
  </ul>
</div>