::ng-deep {
  .app-dialog-all-publishers {
    .app-selected-bar {
      max-height: 80px;
      overflow-y: auto;
      margin-right: -24px;
      margin-bottom: 16px;
      padding-right: 24px;
    }

    .mat-checkbox {
      .mat-checkbox-layout {
        height: 15px;
        align-items: center;
        vertical-align: middle;
    
        .mat-checkbox-inner-container {
          $app-checkbox-height: 14px;
          margin-top: 0 !important;
          width: $app-checkbox-height;
          height: $app-checkbox-height;

          .mat-checkbox-ripple {
            $app-ripple-height: 15px;
            left: calc(50% - #{ $app-ripple-height});
            top: calc(50% - #{$app-ripple-height});
            height: calc(#{$app-ripple-height} * 2);
            width: calc(#{$app-ripple-height} * 2);
          }
        }

        .mat-checkbox-label {
          //line-height: unset;
        }
      }
    }
  } 
}