<h1 mat-dialog-title>{{ 'desc.all_publishers' | translate }}</h1>
<div mat-dialog-content class="mat-dialog-content--scrollbar-fix">
  <table class="app-table" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td><mat-checkbox><strong>Spn</strong></mat-checkbox></td>
        <td><span class="app-count">(25626)</span></td>
      </tr>
      <tr>
        <td><mat-checkbox><strong>Státní pedagogické nakladatelství</strong></mat-checkbox></td>
        <td><span class="app-count">(12532)</span></td>
      </tr>
      <tr>
        <td><mat-checkbox><strong>Státní nakladatelství krásné literatury, hudby a umění</strong></mat-checkbox></td>
        <td><span class="app-count">(1208)</span></td>
      </tr>
      <tr>
        <td><mat-checkbox><strong>Státní nakladatelství politické literatury</strong></mat-checkbox></td>
        <td><span class="app-count">(952)</span></td>
      </tr>
      <tr>
        <td><mat-checkbox><strong>Spn</strong></mat-checkbox></td>
        <td><span class="app-count">(25626)</span></td>
      </tr>
      <tr>
        <td><mat-checkbox><strong>Státní pedagogické nakladatelství</strong></mat-checkbox></td>
        <td><span class="app-count">(12532)</span></td>
      </tr>
      <tr>
        <td><mat-checkbox><strong>Státní nakladatelství krásné literatury, hudby a umění</strong></mat-checkbox></td>
        <td><span class="app-count">(1208)</span></td>
      </tr>
      <tr>
        <td><mat-checkbox><strong>Státní nakladatelství politické literatury</strong></mat-checkbox></td>
        <td><span class="app-count">(952)</span></td>
      </tr>
      <tr>
        <td colspan="2"><a>{{ 'desc.zobrazit_vice' | translate }} ...</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>{{ 'desc.zavrit' | translate }}</button>
</div>