<h1 mat-dialog-title [ngSwitch]="data.isRegister">
  <ng-container *ngSwitchCase="true">{{ 'desc.registracni_formular' | translate }}</ng-container>
  <ng-container *ngSwitchDefault>{{ 'desc.zmenit_osobni_udaje' | translate }}</ng-container>
</h1>
<div mat-dialog-content>
  <app-dialog-registration-form [user]="user" [isRegister]="data.isRegister" [focus]="focus"></app-dialog-registration-form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="save()">{{ data.isRegister ? ('desc.registrovat_se' | translate) : ('desc.ulozit' | translate) }}</button>
  <button mat-button mat-dialog-close>{{ 'desc.zavrit' | translate }}</button>
</div>
