<div class="app-container">  
  <ng-container>
    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
      <div fxFlex>
        {{ 'desc.num_found' | translate }}: <strong>{{ numFound }}</strong>
      </div>
      <div>
        <app-paginator [numFound]="numFound"></app-paginator>
      </div>
    </div>
    <div class="app-results-wrapper">
      <mat-card>
        <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
          <div fxFlex>
            <strong>{{ 'desc.Vysledek importu' | translate }}</strong>
            <ng-container >
              <span class="app-pipe"></span>
              <span class="app-metadata">
                <ng-container>{{ date | date : 'dd.MM.yyyy HH:mm' }}<span class="app-pipe"></span></ng-container>
                <ng-container>{{ uri }}<span class="app-pipe"></span></ng-container>
                {{ origin }}<span class="app-pipe"></span>
                
                <mat-slide-toggle (change)="onlyAChange($event)">{{ 'Zobrazit jen na vyrazeni' | translate }} ({{na_vyrazeni}})</mat-slide-toggle>&#160;
                
                <mat-slide-toggle (change)="onlyNoEANChange($event)">{{ 'Zobrazit jen nepresne shody' | translate }} ({{noean}})</mat-slide-toggle>&#160;
                
                <mat-slide-toggle (change)="onlyNoHitsChange($event)">{{ 'Zobrazit NEnalezene' | translate }} ({{noHits}})</mat-slide-toggle>
                  
              </span>
            </ng-container>
          </div>
        </div>
      </mat-card>
      <ng-container *ngFor="let doc of docs">
        <mat-card>
          <h3>{{ doc.name }} | {{ doc.author }} | {{ doc.ean }} | {{ doc.num_hits }} | {{ doc.hit_type }} </h3>
          <ng-container *ngFor="let id of doc.identifiers">
            <div *ngIf="!onlyA || id.marc_990a.includes('A') || id.marc_990a.includes('PA')">
              <a [href]="link(id.identifier)" target="_blank">{{ id.identifier }}</a> {{ id.nazev }} {{ id.marc_990a }} {{ id.ean }}
              <button *ngIf="id.marc_990a.includes('A') || id.marc_990a.includes('PA')" mat-icon-button title="Schvalit zmenu (na vyrazeni)" (click)="approve(doc, id.identifier)"><mat-icon>done</mat-icon></button>
            </div>
          </ng-container>
          
        </mat-card>
      </ng-container>
    </div>
    <div class="app-mt-4">
      <app-paginator [numFound]="numFound"></app-paginator>
    </div>
  </ng-container>
</div>

