<div class="app-container" *ngIf="state.user && state.user.role === 'admin'">
  <mat-tab-group>
    <mat-tab [label]="'desc.editace_stranek' | translate">
      <div fxLayout="row" fxLayoutGap="32px">
        <div fxFlex="350px">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let t of config.homeTabs" (click)="selectText(t)"
              [class.active]="t === selected">
              {{ 'home.' + t | translate }}
            </mat-list-item>
          </mat-list>
        </div>
        <div>
          <div class="app-mb-4">
            <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent" [config]="editorConfig"></angular-editor>
          </div>
          <button mat-stroked-button (click)="saveText()">{{ 'desc.ulozit' | translate }}</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab [label]="'desc.role' | translate">
      <mat-tab-group class="app-role">
        <mat-tab [label]="'desc.prehled_roli' | translate">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let role of config.role">{{ role }}</mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab [label]="'desc.formular' | translate">Nejaky formular</mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab [label]="'desc.usersAdmin' | translate">
      <div fxLayout="row" fxLayoutGap="32px">
        <div fxFlex="350px">
          <form>
            <mat-form-field class="app-w-100 app-mb-1" appearance="outline">
              <mat-label>{{ 'desc.hledat_uzivatele' | translate }}</mat-label>
              <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let u of users" (click)="selectUser(u)"
              [class.active]="u === selUser">
              {{ u.jmeno }} {{ u.prijmeni }}
            </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="2 2 auto">
          <app-dialog-registration-form [user]="selUser"></app-dialog-registration-form>
          <button mat-stroked-button (click)="saveUser()" class="app-mr-2">{{ 'desc.ulozit' | translate }}</button>
          <button mat-stroked-button (click)="resetPwd()">{{ 'desc.reset_hesla' | translate }}</button>
        </div>
      </div>
    </mat-tab>
    
  </mat-tab-group>
</div>