<div class="app-container">
  <mat-tab-group>
    <mat-tab [label]="'desc.editace_stranek' | translate">
      <div fxLayout="row" fxLayoutGap="32px">
        <div fxFlex="350px">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let t of config.homeTabs" (click)="selectText(t)" [class.active]="t === selected">
              {{ 'home.' + t | translate }}
            </mat-list-item>
          </mat-list>
        </div>
        <div>
          <div class="app-row-gap-16">
            <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent" [config]="editorConfig"></angular-editor>
          </div>
          <button mat-stroked-button (click)="save()">{{ 'desc.ulozit' | translate }}</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab [label]="'desc.role' | translate">
      <mat-tab-group class="app-role">
        <mat-tab [label]="'Prehled roli' | translate">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let role of config.role">{{ role }}</mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab [label]="'Formular' | translate">Nejaky formular</mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>