<div class="app-searchbar-wrapper">
  <input type="text" [placeholder]="'q.placeholder' | translate" name="q" id="q" (keyup.enter)="search()" [(ngModel)]="state.q" [matTooltip]="'q.tooltip' | translate" matTooltipPosition="above" />
  <span class="app-clear" *ngIf="state.q" matTooltip="Vymazat dotaz">
    <mat-icon class="app-cursor-pointer" (click)="clearQuery()">clear</mat-icon>
  </span>
  <span class="app-search">
    <a (click)="search()" matTooltip="Hledat">
      <mat-icon>search</mat-icon>
    </a>
  </span>
</div>




<!-- <input type="text" [placeholder]="'q.placeholder' | translate" name="q" id="q" (keyup.enter)="search()" [(ngModel)]="state.q" [matTooltip]="'q.tooltip' | translate" matTooltipPosition="above" />
<a (click)="search()">
  <mat-icon>search</mat-icon>
</a>
 -->