<div class="app-searchbar-wrapper">
  <input type="text" [placeholder]="'q.placeholder' | translate" name="q" id="q" (keyup.enter)="search()" [(ngModel)]="state.q" />
  <span class="app-clear" *ngIf="state.q" matTooltip="Vymazat dotaz">
    <mat-icon class="app-cursor-pointer" (click)="clearQuery()">clear</mat-icon>
  </span>
  <span class="app-search">
    <a (click)="search()" matTooltip="Hledat">
      <mat-icon>search</mat-icon>
    </a>
  </span>
</div>

<!-- <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="center center">
  <div fxFlex>
    <div class="app-searchbar-wrapper">
      <input type="text" [placeholder]="'q.placeholder' | translate" name="q" id="q" (keyup.enter)="search()" [(ngModel)]="state.q" />
      <span class="app-clear" *ngIf="state.q" matTooltip="Vymazat dotaz">
        <mat-icon class="app-cursor-pointer" (click)="clearQuery()">clear</mat-icon>
      </span>
      <span class="app-search">
        <a (click)="search()" matTooltip="Hledat">
          <mat-icon>search</mat-icon>
        </a>
      </span>
    </div>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="state.onlySdnnt" style="font-size: 14px; font-weight:normal;">{{ 'desc.pouze_zaznamy_na_seznamu' | translate }}</mat-checkbox>
  </div>
</div> -->