<h1 mat-dialog-title>{{ 'desc.naslednicke_zaznamy' | translate }}</h1>
<mat-dialog-content>
  <div>

    <div *ngIf="documents.length == 0"> 
      <mat-card class="app-alert app-info">
        <mat-card-content>
          <mat-icon class="material-icons-outlined">info</mat-icon>{{ 'field.no_followers' | translate }}
        </mat-card-content>
      </mat-card>
    </div>

    <table *ngIf="documents.length > 0" [cellSpacing]="0" [cellPadding]="0" class="app-table app-mb-4">
      <thead>
        <tr>
          <th>{{ 'desc.zaznam' | translate }}</th>
          <th>Url</th>
          <th></th>
          <th *ngIf="edit"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of documents">
          <td>
            <div [class.app-text-cutter]="!item.expanded" [matTooltip]="item.expanded ? null : title(item.doc)"><strong>{{title(item.doc)}}</strong></div>
          
            <div class="app-detail app-mt-1" *ngIf="item.expanded">

              <div *ngIf="hlavnizahlavi(item.doc)"><label class="app-label app-mr-1">Hlavní záhlaví:</label> {{hlavnizahlavi(item.doc)}} </div>
              <div *ngIf="nakladatelskeUdaje(item.doc)"><label class="app-label app-mr-1">Nakl. údaje:</label> {{nakladatelskeUdaje(item.doc)}} </div>
              <div *ngIf="nakladatel(item.doc)"><label class="app-label app-mr-1">{{'field.nakladatel' | translate}}:</label> {{nakladatel(item.doc)}} </div>
              <div *ngIf="vydani(item.doc)"><label class="app-label app-mr-1">{{'field.edition' | translate}}:</label>{{vydani(item.doc)}}</div>
              <div *ngIf="item.doc.id_issn"><label class="app-label app-mr-1">{{'field.022a' | translate}}:</label>{{item.doc.id_issn}}</div>
              <div *ngIf="item.doc.id_isbn"><label class="app-label app-mr-1">{{'field.020a' | translate}}</label>{{item.doc.id_isbn}}</div>
              <div *ngIf="item.doc.id_ccnb"><label class="app-label app-mr-1">{{'field.015a' | translate}}:</label>{{item.doc.id_ccnb}}</div>
              <div><label class="app-label app-mr-1">{{'field.identifier' | translate}}:</label>  <a (click)="goto('search?page=0&fullCatalog=true&q='+item.doc.identifier, $event)">{{item.doc.identifier}}</a>   </div>
              <div><label class="app-label app-mr-1">Ve fondu:</label>{{fondy(item.doc)}} </div>
              <div *ngIf="item.digital_libraries"><label class="app-label app-mr-1">Digitalizováno:</label>{{digitallibraries(item.doc)}} </div>

            </div>
            <!--
            <div class="app-detail app-mt-1" *ngIf="item.expanded" style="width:600px">
              <ngx-json-viewer [json]="item.marcview"  [expanded]="false"></ngx-json-viewer>
            </div>
            -->
          </td>


          <td class="app-col-action">
            <a (click)="goto(item.doc.marc_998a[0], $event)"><mat-icon>link</mat-icon></a>
          </td>
          <td class="app-col-action">
            <a (click)="item.expanded =! item.expanded" [ngClass]="item.expanded ? 'app-rotate-up' : 'app-rotate-down'">
              <mat-icon class="app-mr-1">expand_more</mat-icon>{{ item.expanded ? ('desc.zobrazit_mene' | translate) : ('desc.zobrazit_vice' | translate) }}
            </a>
          </td>
          <td *ngIf="edit" class="app-col-checkbox"><mat-checkbox [(ngModel)]="item.selected"></mat-checkbox></td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <button *ngIf="edit" mat-flat-button mat-dialog-close color="primary" (click)="accept()" cdkFocusInitial>{{ 'desc.akceptovat' | translate }}</button>
  <button mat-button mat-dialog-close >{{ 'desc.zavrit' | translate }}</button>
</div>