<h1 mat-dialog-title>
  Info {{data.datum_zadani}}
</h1>
<div mat-dialog-content>
  <div *ngFor="let doc of docs">
    <div>{{ doc.title }}</div>
    
    <div fxLayout="row">{{ doc.author }} {{ doc.nakladatel }} {{ doc.marc_260c }}
      <div [class]="'app-badge ' + doc.marc_990a">
        <mat-icon class="material-icons-outlined" [matTooltip]="'state.tooltip.'+doc.marc_990a | translate">info</mat-icon>{{ 'state.' + doc.marc_990a | translate }}
      </div> 
      <button *ngIf="state.user.role === 'kurator' && data.state === 'waiting'" mat-icon-button [title]="'Schvalit zmenu stavu na ' + data.new_stav" (click)="approve(doc)"><mat-icon>done</mat-icon></button>&#160;
              
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Zavřít</button>
</div>

