<h1 mat-dialog-title>
  {{ 'desc.prehled_zadosti' | translate }}<ng-container *ngIf="data.datum_zadani"><span class="app-pipe"></span><small class="app-color-metadata">{{ data.datum_zadani }}</small></ng-container>
</h1>
<div mat-dialog-content>
  <div class="app-results-wrapper">
    <mat-card *ngFor="let doc of docs">
      <mat-card-header fxLayout="row" fxLayoutGap="16px">
        <div *ngIf="imgSrc">
          <img [src]="imgSrc" />
          <!-- <img src="https://kramerius.army.cz/search/api/v5.0/item/uuid:cd2f0ca9-4e72-4b93-b2c0-10ca07fdb087/thumb" /> -->
        </div>
        <div>
          <mat-card-title><span>{{ doc.title }}</span></mat-card-title>
          <mat-card-subtitle>{{ doc.author }} {{ doc.nakladatel }} {{ doc.marc_260c }}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-actions fxLayout="row" fxLayoutGap="32px">
        <div fxFlex fxFlexAlign="flex-end">
          <span class="app-text-icon"><mat-icon class="app-mr-1">link</mat-icon><a [href]="doc.marc_998a" target="_blank">{{ 'desc.zaznam_z_katalogu' | translate }}</a></span><span class="app-pipe"></span>
        </div>
        <div fxLayout="row">
          <div [class]="'app-badge ' + doc.marc_990a">
            <mat-icon class="material-icons-outlined" [matTooltip]="'state.tooltip.'+doc.marc_990a | translate">info</mat-icon>{{ 'state.' + doc.marc_990a | translate }}
          </div> 
          <button *ngIf="state.user.role === 'kurator' && data.state === 'waiting'" mat-icon-button [title]="'Schvalit zmenu stavu na ' + data.new_stav" (click)="approve(doc)"><mat-icon>done</mat-icon></button>&#160;
          <button *ngIf="state.user.role === 'kurator' && data.state === 'waiting'" mat-icon-button [title]="'Schvalit zmenu POUZE v knihovne ' + data.new_stav" (click)="approveLib(doc)"><mat-icon>local_library</mat-icon></button>&#160;
          <button *ngIf="state.user.role === 'kurator' && data.state === 'waiting'" mat-icon-button [title]="'Odmitnout zmenu stavu na ' + data.new_stav" (click)="reject(doc)"><mat-icon>close</mat-icon></button>&#160;
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Zavřít</button>
</div>

