<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>{{ 'desc.prihlaseni_uzivatele' | translate }}</h1>
<div mat-dialog-content>
    <ng-container *ngIf="!state.logged">
      <div fxLayout="row wrap">
        <mat-form-field fxFlex="100%">
          <mat-label>{{ 'desc.prihlasovaci_jmeno' | translate }}</mat-label>
          <input matInput cdkFocusInitial type="text" [(ngModel)]="user" (keyup.enter)="focusp($event, loginpwd)" autocomplete="on" id="loginuser">
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-label>{{ 'desc.heslo' | translate }}</mat-label>
          <input matInput #loginpwd type="password" [(ngModel)]="pwd" (keyup.enter)="login()">
        </mat-form-field> 
      </div>
  
      <div class="app-color-warning" *ngIf="loginError">
        {{ 'desc.spatne_prihlasovaci_udaje' | translate }}.
      </div>    
    </ng-container>

    <ng-container *ngIf="state.logged">
      <span class="app-label">{{ 'desc.prihlaseny_uzivatel' | translate }}:</span>&#160;<strong>{{ state.user.jmeno}} {{state.user.prijmeni }}</strong><br />
      <!-- <span class="app-label">{{ 'Role' | translate }}:</span>&#160;<strong>{{ 'pristupnost_' + state.user.pristupnost | translate }}</strong><br />
      <span class="app-label">{{ 'field.f_organizace' | translate }}:</span>&#160;<strong>{{ state.user.organizaceNazev }}</strong> -->
    </ng-container>
</div>
<div mat-dialog-actions>
  <ng-container *ngIf="!state.logged">
    <button mat-button (click)="login()">{{ 'desc.prihlasit_uzivatele' | translate }}</button>
    <a mat-button href="#">{{ 'desc.zapomeli_jste_heslo' | translate }}</a>
  </ng-container>
  <ng-container *ngIf="state.logged">
    <button mat-button (click)="logout()">{{ 'desc.odhlasit' | translate }}</button>
  </ng-container>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>{{ 'desc.zavrit' | translate }}</button>
</div>