<h1 mat-dialog-title>{{ 'desc.poslat_zadost' | translate }}</h1>
<mat-form-field appearance="outline" class="app-w-100">
  <mat-label>{{ 'desc.oduvodneni' | translate }}</mat-label>
  <input matInput name="pozadavek" [(ngModel)]="pozadavek" [placeholder]="'desc.oduvodneni' | translate" />
</mat-form-field>
<mat-form-field appearance="outline" class="app-w-100 app-clean-bottom-gap">
  <mat-label>{{ 'desc.poznamka' | translate }}</mat-label>
  <input matInput name="poznamka" [(ngModel)]="poznamka" [placeholder]="'desc.poznamka' | translate" />
</mat-form-field>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="send()" cdkFocusInitial>{{ 'desc.poslat' | translate }}</button>
  <button mat-button mat-dialog-close >{{ 'desc.zavrit' | translate }}</button>
</div>