<div class="app-container">
  <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="start center" class="app-toolbar">
    <div fxFlex class="app-left">
      {{ 'desc.num_found' | translate }}: <strong>{{ numFound }}</strong>
    </div>
    <div class="app-right">
      <app-paginator [storeStateKey]="'export'" [numFound]="numFound" [showSort]="false"></app-paginator>
    </div>
  </div>
  <mat-form-field class="app-w-100 app-clean-top-gap" appearance="outline"  *ngIf="state.user && (state.user?.role === 'kurator' ||  state.user?.role === 'mainKurator')">
    <mat-label>{{ 'desc.vyhledavani_v_exportech' | translate }}</mat-label>

    <input type="text" matInput (keyup)="onFilterExportsKeyUp($event.target)"[ngModel]="state.prefixsearch['export']">

    <button *ngIf="state.prefixsearch['export']" matSuffix mat-icon-button aria-label="Clear" (click)="cleanFilterExports()" [matTooltip]="'desc.odstranit_tento_filtr' | translate">
      <mat-icon class="app-color-warning">close</mat-icon>
    </button>
  </mat-form-field>

  <div class="app-results-wrapper app-overflow-x-auto">
    <table mat-table [dataSource]="exports" class="mat-elevation-z0 app-table-responsive">

 
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.identifikatory' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <span class="app-fx-left mat-header-cell">{{ 'desc.datum_exportu' | translate }}</span>
          <span class="app-fx-right">{{ element.id }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="indextime">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.datum_exportu' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <span class="app-fx-left mat-header-cell">{{ 'desc.datum_exportu' | translate }}</span>
          <span class="app-fx-right">{{ element.indextime | date : 'dd.MM.yyyy HH:mm' }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="export_type">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.typ_exportu' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <span class="app-fx-left mat-header-cell">{{ 'URL' | translate }}</span>
          <span class="app-fx-right">{{ element.export_type }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="stav">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.stav' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <span class="app-fx-left mat-header-cell">{{ 'desc.stav' | translate }}</span>
          <span class="app-fx-right">
            <mat-icon class="material-icons-outlined" [class]="element.export_processed ? 'processed' : 'open'" [matTooltip]="'state.' + (element.processed ? 'processed' : 'waiting') | translate" matTooltip="above">
              <ng-container *ngIf="!element.export_processed">lock_open</ng-container>
              <ng-container *ngIf="element.export_processed">lock</ng-container>
            </mat-icon>
          </span>
        </td>
      </ng-container>


      <ng-container matColumnDef="export_num_docs">
        <th mat-header-cell *matHeaderCellDef>{{ 'desc.export_num_docs' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <span class="app-fx-left mat-header-cell">{{ 'URL' | translate }}</span>
          <span class="app-fx-right">{{ element.export_num_docs }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="app-text-right">
          <span class="app-fx-left"></span>
          <span class="app-fx-right">
            <mat-button-toggle-group>
              <mat-button-toggle (click)="showExport(element)" [matTooltip]="'desc.vysledek_export' | translate" matTooltipPosition="above">
                <mat-icon class="material-icons-outlined">visibility</mat-icon>
              </mat-button-toggle>    
              <mat-button-toggle *ngIf="!element.export_processed" (click)="process(element)" [matTooltip]="'desc.oznacit_jako_zpracovane' | translate" matTooltipPosition="above">
                <mat-icon class="material-icons-outlined">done</mat-icon>
              </mat-button-toggle>    
            </mat-button-toggle-group>
          </span>
        </td>
      </ng-container>

      <!--
      <ng-container matColumnDef="import_url">
        <th mat-header-cell *matHeaderCellDef>{{ 'URL' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <span class="app-fx-left mat-header-cell">{{ 'URL' | translate }}</span>
          <span class="app-fx-right">{{ element.url }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="app-text-right">
          <mat-button-toggle-group>
            <mat-button-toggle (click)="showExport(element)" [matTooltip]="'desc.vysledek_exportu' | translate" matTooltipPosition="above">
              <mat-icon class="material-icons-outlined">visibility</mat-icon>
            </mat-button-toggle>    
          </mat-button-toggle-group> 
        </td>
      </ng-container>
    -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  
  <div class="app-mt-4">
    <app-paginator [storeStateKey]="'export'" [numFound]="numFound" [showSort]="false"></app-paginator>
  </div>
</div>
