<h1 mat-dialog-title>{{ 'desc.forgotten_password' | translate }}</h1>
<div mat-dialog-content>

    <div fxLayout="row wrap">
        <mat-form-field fxFlex="100%" appearance="fill">
          <mat-label>{{ 'desc.prihlasovaci_jmeno' | translate }}</mat-label>
          <input matInput cdkFocusInitial type="text" [(ngModel)]="user"  autocomplete="on" id="loginuser">
        </mat-form-field>
      </div> 
    
</div>
<div mat-dialog-actions>
  <button mat-button (click)="resetPwd()">{{ 'desc.send_reset_pwd_token' | translate }}</button>
  <button mat-button (click)="close()" >{{ 'desc.zavrit' | translate }}</button>
</div>