<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <!-- mock filter - mocking identity provider -->

    <filter>
        <filter-name>mockShib</filter-name>
        <filter-class>cz.inovatika.sdnnt.services.impl.shib.mock.MockShibFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>mockShib</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>ShibbolethFilter</filter-name>
        <filter-class>cz.inovatika.sdnnt.services.impl.shib.ShibbolethFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShibbolethFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ApiOriginFilter</filter-name>
        <filter-class>cz.inovatika.sdnnt.openapi.endpoints.api.ApiOriginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ApiOriginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                io.swagger.v3.jaxrs2.integration.resources,
                cz.inovatika.sdnnt.openapi.endpoints.api,
                cz.inovatika.sdnnt.openapi.endpoints.api.impl
            </param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.wadl.disableWadl</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>openApi.configuration.prettyPrint</param-name>
            <param-value>true</param-value>
        </init-param>

        <!-- override the default service api implementations -->
        <init-param>
            <param-name>RequestApi.implementation</param-name>
            <param-value>cz.inovatika.sdnnt.openapi.endpoints.api.impl.DNNTRequestApiServiceImpl</param-value>
        </init-param>
        <init-param>
            <param-name>CatalogApi.implementation</param-name>
            <param-value>cz.inovatika.sdnnt.openapi.endpoints.api.impl.DNNTCatalogApiServiceImpl</param-value>
        </init-param>
        <init-param>
            <param-name>ListsApi.implementation</param-name>
            <param-value>cz.inovatika.sdnnt.openapi.endpoints.api.impl.DNNTListApiServiceImpl</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/api/v1.0/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>cz.inovatika.sdnnt.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ApiServlet</servlet-name>
        <servlet-class>cz.inovatika.sdnnt.ApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaticServlet</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaticServlet</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/help</url-pattern>
        <url-pattern>/account</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/search</url-pattern>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/imports</url-pattern>
        <url-pattern>/import/*</url-pattern>
        <url-pattern>/zadost/*</url-pattern>
        <url-pattern>/resetedpwd</url-pattern>
        <url-pattern>/resetedpwd/*</url-pattern>
        <url-pattern>/pswd</url-pattern>
        <url-pattern>/pswd/*</url-pattern>
        <url-pattern>/shibboleth-landing</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>cz.inovatika.sdnnt.ConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/config/*</url-pattern>
        <url-pattern>/config</url-pattern>
        <url-pattern>/assets/config.json</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
