<div class="app-container">
  <ul class="app-breadcrumb">
    <li><a routerLink="/exports">{{ 'desc.exports' | translate }}</a></li>
    <li><strong> {{export}}</strong>
      
    </li>
  </ul>
  <div class="app-export-wrapper">

    <div class="button-wrapper" (click)="filesExpanded = !filesExpanded">
      <mat-icon>{{ filesExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon><strong>Exportované soubory</strong>
    </div>

    <div class="button-wrapper">
      <div *ngIf="filesExpanded">
      <div *ngFor="let expFile of exportFiles">
        <a href="api/exports/exported_file?path={{ encodePath(expFile.path) }}&export={{export}}"> {{expFile.name}}</a>
      </div>
    </div>
  </div>      

    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="start center" class="app-toolbar">
      <div fxFlex class="app-left">
        {{ 'desc.num_found' | translate }}: <strong>{{ numFound }}</strong>
      </div>
      <div class="app-right">
        <app-paginator [storeStateKey]="'import'" [numFound]="numFound" [showSort]="false"></app-paginator>
      </div>
    </div>

    <div class="app-results-wrapper">

      <ng-container *ngFor="let doc of docs">
        <app-result-item *ngFor="let doc of docs" [doc]="doc"></app-result-item>
      </ng-container>

    </div>
    <div class="app-mt-4">
      <app-paginator [storeStateKey]="'import'" [numFound]="numFound" [showSort]="false"></app-paginator>
    </div>
  </div>