<div class="app-container">
  <ul class="app-breadcrumb" fxLayout="row">
    <div fxFlex>
      <li><a routerLink="/exports">{{ 'desc.exports' | translate }}</a></li>
      <li>{{ 'desc.vysledek_exportu' | translate }}</li>
    </div>
    <div><strong><a (click)="openExportedFilesDialog()">{{ 'desc.exportovane_soubory' | translate }}</a></strong></div>
  </ul>
  <div class="app-export-wrapper">

    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="start center" class="app-toolbar">
      <div fxFlex class="app-left">
        {{ 'desc.num_found' | translate }}: <strong>{{ numFound }}</strong>
      </div>
      <div class="app-right">
        <app-paginator [storeStateKey]="'import'" [numFound]="numFound" [showSort]="false"></app-paginator>
      </div>
      <mat-form-field class="app-w-100 app-clean-top-gap" appearance="outline"  *ngIf="state.user && (state.user?.role === 'kurator' ||  state.user?.role === 'mainKurator')">
        <mat-label>{{ 'desc.vyhledavani_ve_vysledcich_exportu' | translate }}</mat-label>
        <input type="text" matInput (keyup)="onFilterExportKeyUp($event.target)" [ngModel]="state.prefixsearch['export']">
        <button *ngIf="state.prefixsearch['export']" matSuffix mat-icon-button aria-label="Clear" (click)="cleanFilterExport()" [matTooltip]="'desc.odstranit_tento_filtr' | translate">
          <mat-icon class="app-color-warning">close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="app-results-wrapper">
      <ng-container *ngFor="let doc of docs">
        <app-result-item [doc]="doc"></app-result-item>
      </ng-container>
    </div>
    
    <div class="app-mt-4">
      <app-paginator [storeStateKey]="'import'" [numFound]="numFound" [showSort]="false"></app-paginator>
    </div>
  </div>