<h1 mat-dialog-title>{{ 'desc.hromadne_notifikace' | translate }}</h1>
<div mat-dialog-content class="mat-dialog-content--scrollbar-fix">
  <div fxLayout="row wrap">
    <mat-form-field fxFlex="100%"  appearance="outline">
      <mat-label>{{ 'desc.nazev_notifikace' | translate }}</mat-label>
      <input matInput  [placeholder]="'desc.zadejte_nazev_notifikace' | translate" [formControl]="notificationNameControl" required>
      <mat-error *ngIf="notificationNameControl.invalid">
        {{ 'msg.error.nazev_notifikace' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="state.q">
    <label class="app-label">{{ 'desc.hledany_vyraz' | translate }}:</label>
    <ul class="app-m-0 app-pl-4">
      <li><span>Text: </span>{{ state.q }}</li>
    </ul>
  </div>
  <mat-divider *ngIf="state.q" class="app-mt-4 app-mb-4"></mat-divider>
  <div>
    <label class="app-label">{{ 'desc.pouzite_filtry' | translate }}:</label>
    <ul class="app-m-0 app-pl-4">
      <li *ngFor="let f of state.usedFilters">
        <span>{{ 'field.' + f.field | translate }}: </span>
        <ng-container [ngSwitch]="f.field">
          <ng-container *ngSwitchCase="'license'">{{ 'license.' + f.value | translate }}</ng-container>
          <ng-container *ngSwitchCase="'dntstav'">{{ 'field.' + f.value | translate }}</ng-container>
          <ng-container *ngSwitchCase="'kuratorstav'">{{ 'field.' + f.value | translate }}</ng-container>
          <ng-container *ngSwitchCase="'controlled'">{{ 'controlled.' + f.value | translate }}</ng-container>
          <ng-container *ngSwitchCase="'fmt'">{{ 'fmt.' + f.value | translate }}</ng-container>
          <ng-container *ngSwitchCase="'language'">{{ 'language.' + f.value | translate }}</ng-container>
          <ng-container *ngSwitchCase="'sigla'">{{ 'sigla.' + f.value | translate }}</ng-container>
          <ng-container *ngSwitchDefault>{{ f.value }}</ng-container>
        </ng-container>
      </li>
    </ul>
  </div>
  <mat-divider class="app-mt-4 app-mb-4"></mat-divider>
  <div>
    <label id="notifikace_interval_label" class="app-label app-mr-2">{{ 'desc.notifikace_interval' | translate }}:</label>
    <mat-radio-group aria-labelledby="notifikace_interval_label" [(ngModel)]="periodicity">
      <mat-radio-button value="den">{{ 'desc.day' | translate }}</mat-radio-button>
      <mat-radio-button value="tyden">{{ 'desc.week' | translate }}</mat-radio-button>
      <mat-radio-button value="mesic">{{ 'desc.month' | translate }}</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div mat-dialog-actions>
  <button [disabled]="!name || name === ''" mat-flat-button color="primary"  (click)="doBulkNotification()">{{ 'desc.provest_hromadnou_notifikaci' | translate }}</button>
  <button mat-button mat-dialog-close cdkFocusInitial>{{ 'desc.zavrit' | translate }}</button>
</div>