<div fxLayout="row wrap" class="app-graphs-wrapper">
  <div class="app-graph-wrapper app-fx-50">
    <div>
      <div *ngIf="stavOpts.series" class="app-graph" echarts [options]="stavOpts" style="height: 350px;" ></div>
    </div>
  </div>
  <div class="app-graph-wrapper app-fx-50">
    <div>
      <div *ngIf="licenseOpts.series" class="app-graph" echarts [options]="licenseOpts" style="height: 350px;" ></div>
    </div>
  </div>
  <div class="app-graph-wrapper">
    <div>
      <div *ngIf="historyUserActivityOpts.series" class="app-graph" echarts [options]="historyUserActivityOpts" style="height: 350px;" ></div>
    </div>
  </div>
  <div class="app-graph-wrapper">
    <div>
      <h4>{{ 'graph.desc.interval' | translate }}</h4>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'graph.desc.select_interval' | translate }}</mat-label>
        <mat-select matNativeControl required [(value)]="interval" (valueChange)="getStatsHistory()">
          <mat-option value="1YEAR">{{ 'graph.desc.year' | translate }}</mat-option>
          <mat-option value="3MONTHS">{{ 'graph.desc.quarter' | translate }}</mat-option>
          <mat-option value="1MONTH">{{ 'graph.desc.month' | translate }}</mat-option>
          <mat-option value="7DAYS">{{ 'graph.desc.week' | translate }}</mat-option>
          <mat-option value="1DAY">{{ 'graph.desc.day' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="historyUserOpts.series" class="app-graph"  style="height: 350px;"
        echarts #userChart [options]="historyUserOpts" 
        (chartLegendSelectChanged)="selectUserLegent($event)" 
        (chartInit)="onChartInit($event)"></div>
    </div>
  </div>
  <div class="app-graph-wrapper">
    <div>
      <div *ngIf="historyStavOpts.series" class="app-graph" echarts [options]="historyStavOpts" style="height: 350px;" ></div>
    </div>
  </div>
</div>