<h1 mat-dialog-title>{{ 'desc.zapomenute_heslo' | translate }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="app-w-100">
    <mat-label>{{ 'desc.prihlasovaci_jmeno' | translate }}</mat-label>
    <input matInput [placeholder]="'desc.prihlasovaci_jmeno' | translate" cdkFocusInitial type="text" [(ngModel)]="user"  autocomplete="on" id="loginuser">
  </mat-form-field>  
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="resetPwd()">{{ 'desc.poslat_resetovaci_token' | translate }}</button>
  <button mat-button (click)="close()" >{{ 'desc.zavrit' | translate }}</button>
</div>