// --- DEFAULT THEME ---

@import '~@angular/material/theming';
@include mat-core();

$app-brand: "green";

@function setBrandColor() {
  @if ($app-brand == "blue") {
    @return #048BA8;
  } @else if ($app-brand == "red") {
    @return #E5332A;
  } @else {
    @return #96C120;
  }
}

$nkp: (
  50: setBrandColor(),
  contrast: (
    50: white
  )
);

$app-logo: "~/assets/img/logo-sdnnt-" + $app-brand + ".png" !default;

$app-primary: mat-palette($nkp, 50);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);
$app-theme:  mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

// theme colors
$app-primary-color: mat-color($app-primary);
$app-primary-color-darker: mat-color($app-primary, 600);
$app-accent-color: mat-color($app-accent);