// --- MIXINS ---

// set icon size
@mixin setIcon($size: null, $color: null, $position: null) {
  @if ($size != null) {
    font-size: #{$size}px;
    height: #{$size}px;
    width: #{$size}px;  
  }
  @if ($color != null) {
    color: $color !important;
  }
  @if ($position != null) {
    vertical-align: $position !important;  
  }
  
}

// clearfix
@mixin cleanfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// set link color
@mixin setLinkColor($color, $opacity: .7) {
  color: $color;

  &:hover {
    color: rgba($color, $opacity);
  }
}

// set state color
@mixin setStateColor() {
  @each $state, $color in $states {
    @if($state) {
      &.#{$state} {
        color: $color;
        border-color: $color;
      }
    } @else {
      color: $app-primary-color;
      border-color: $color;
    }
  }
}