// --- SEARCH ---

app-search {
  .app-left {
    padding-top: 12px;
  }

  .app-right {
    .app-results-wrapper {
      @import "app-result-item";
  
      border-width: 1px 1px 0 1px;
      border-style: solid;
      border-color: $app-brand-border-color;
    }
  }
}