// --- MEDIA QUERIES ---

app-navbar {
  @media only screen and (min-width: 1100px){
    .app-nav-mobile {
      display: none;
    }
  }

  @media only screen and (max-width: 1099px) {
    .app-nav-desktop {
      display: none;
    }
  }

  @media #{$gt-xs} {
    .app-search {
      display: none;
    }
  }

  @media #{$lt-sm} {
    .app-logo-hide {
      display: none;
    }

    app-searchbar {
      &.app-searchbar-hide {
        display: none;
      }
    }
  }
}

app-home {
  .app-card-wrapper {
    @media #{$gt-xss} {
      @include setFlexBreakpointGap(50);
      min-height: 150px;
    }

    @media #{$gt-xs} {
      @include setFlexBreakpointGap(33.3333);
      min-height: 170px;
    }

    @media #{$gt-sm} {
      @include setFlexBreakpointGap(20);
    }
  }

  app-graphs {
    @media #{$lt-md} {
      .app-fx-50 {
        flex: 0 0 calc(100% - #{$app-gap-card} - 2px) !important;
      }
    }
  }
}

app-search {
  @media only screen and (max-width: 1040px)  {
    .app-search-wrapper {
      flex-wrap: wrap;

      .app-fx-facets {
        padding-top: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 16px;
        flex: 1 1 100%;

        .mat-expansion-panel-header {
          padding-left: 0;
        }

        .mat-expansion-panel-body {
          padding-left: 0;
          padding-right: 0;

          @media only screen and (max-width: 380px)  {
            .app-facet-date-wrapper {
              flex-direction: column !important;

              .mat-form-field,
              .mat-button-base {
                margin-right: 0 !important;
                flex: 1 1 100%;
              }

              .mat-form-field {
                margin-bottom: 16px;
              }

              .mat-button-base {
                width: 100% !important;
                max-width: 100% !important;
              }
            }
          }
        }
      }

      app-facets-used {
        .mat-list {
          .mat-subheader {
            padding-left: 0 !important;
            padding-right: 16px !important;
          }

          .app-list-content-wrapper {
            padding-left: 0 !important;
            
            .mat-list-item-content {
              padding-left: 0 !important;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 720px) {
    .app-toolbar {
      .app-left {
        flex: 1 1 100% !important;
      }
    }

    .mat-paginator {
      flex: 1 1 100% !important;
      margin-left: -12px;

      .mat-paginator-container {
        justify-content: flex-start;
      }
    }
  }

  .app-results-wrapper {
    &.app-role-user,
    &.app-role-knihovna,
    &.app-role-admin {
      @media only screen and (max-width: 660px) {
        .mat-card-actions {
          display: block !important;

          .mat-button-toggle-group {
            margin-top: 16px;
            flex-direction: column;
            width: 100%;

            .mat-button-toggle + .mat-button-toggle {
              border-top: 1px solid $app-gray-3;
              border-left: 0 !important;
            }
          }
        }
      }
    }
  }
}


app-zadost {
  @media only screen and (max-width: 620px) {
    .app-breadcrumb {
      margin-bottom: 16px !important;
    }

    .app-toolbar {
      .app-left {
        flex: 1 1 100% !important;
      }
    }
    
    .mat-paginator {
      flex: 1 1 100% !important;
      margin-left: -12px;

      .mat-paginator-container {
        justify-content: flex-start;
      }
    }
  }
}

app-account {
  @media #{$lt-md} {
    .app-account-wrapper {
      flex-flow: column !important;

      .app-fx-facets {
        padding-top: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 16px;
        width: 100% !important;

        .mat-expansion-panel-header {
          padding-left: 0;
        }

        .mat-expansion-panel-body {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 620px) {
    .app-toolbar {
      .app-left {
        flex: 1 1 100% !important;
      }
    }
    
    .mat-paginator {
      flex: 1 1 100% !important;
      margin-left: -12px;

      .mat-paginator-container {
        justify-content: flex-start;
      }
    }
  }
}

app-imports {
  @media only screen and (max-width: 620px) {
    .app-toolbar {
      .app-left {
        flex: 1 1 100% !important;
      }
    }
    
    .mat-paginator {
      flex: 1 1 100% !important;
      margin-left: -12px;

      .mat-paginator-container {
        justify-content: flex-start;
      }
    }
  }
}

app-import {
  @media #{$lt-md} {
    .app-import-wrapper {
      flex-flow: column !important;

      .app-fx-facets {
        padding-top: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 16px;
        width: 100% !important;

        .mat-expansion-panel-header {
          padding-left: 0;
        }

        .mat-expansion-panel-body {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 620px) {
    .app-toolbar {
      .app-left {
        flex: 1 1 100% !important;
      }
    }
    
    .mat-paginator {
      flex: 1 1 100% !important;
      margin-left: -12px;

      .mat-paginator-container {
        justify-content: flex-start;
      }
    }
  }
}

app-admin {
  @media #{$lt-md} {
    .app-admin-wrapper {
      flex-wrap: wrap;

      .app-fx-facets {
        padding-top: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 16px;
        flex: 1 1 100%;
      }
    }
  }
}


app-footer {
  @media only screen and (max-width: 500px) {
    footer {
      & > div {
        flex-direction: column !important;

        .app-right {
          margin-top: 4px;
        }
      }
    }
  }
}
