// --- FOOTER ---

app-footer {
  display: block;
  color: $app-footer-color;
  background-color: $app-footer-bg;
  padding: $app-gap;

  .app-right {
    .app-logo {
      height: $app-gap;
      vertical-align: text-bottom;
    }
  }
}