// --- ADMIN ---

app-admin {
  .mat-list {
    @extend .app-clean-pd;
    border: 1px solid $app-brand-border-color;

    .mat-list-item {
      @extend .app-cursor-pointer;
      height: 36px;

      &:not(:last-child) {
        border-bottom: 1px solid $app-brand-border-color;
      }

      &:hover {
        background-color: $app-gray-0; 
      }

      &.active {
        background-color: $app-gray-2;
        font-weight: bold;
      }
    }
  }

  .mat-tab-group {
    &.app-role {
      .mat-tab-header {
        @extend .app-clean-border;

        .mat-tab-label {
          &.mat-tab-label-active {
            background-color: $app-gray-2;
          }
        }

        .mat-ink-bar {
          @extend .app-dn;
        }
      }
    }

    .mat-tab-body {
      padding: $app-gap-double 0;
    }
  }
}