// --- FACETS ---

app-facets {
  .app-facet-wrapper {
    max-height: 250px;
    overflow-y: auto;

    .app-facet-item-wrapper {
      &::first-letter {
        text-transform: capitalize;
      }

      a {
        line-height: 22px;
  
        &::first-letter {
          text-transform: capitalize;
        }
      }
    }
  }
}