// --- NAVBAR ---

app-navbar {
  .mat-toolbar {
    background-color: $app-color-lightnes;
  }

  .app-right {
    a {
      padding: 8px $app-gap;
      color: #96C120;

      &.app-active {
        background-color: $app-gray-1;
      }
    }
  }
}