// --- GLOBAL ---

a {
  cursor: pointer;
  text-decoration: none;
  color: $app-primary-color;

  &:hover {
    //color: darken($app-primary-color, 10);
    text-decoration: none;
  }

  &.app-disabled-link {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.3;
    text-decoration: none;
  }
}

// cleaners
.app-cleanfix {
  @include cleanfix();
}

.app-clean-mg {
  margin: 0 !important;
}

.app-clean-pd {
  padding: 0 !important;
}

.app-clean-bg {
  background-color: transparent !important;
}

.app-clean-radius {
  border-radius: 0 !important;
}

.app-clean-border {
  border: 0 !important;
}

.app-clean-shadow {
  box-shadow: none !important;
}

// colors
.app-color-warning {
  color: $app-color-warning !important;
}

.app-color-info {
  color: $app-color-info !important;
}

.app-color-fav {
  color: $app-color-fav !important;
}

// common
.app-pipe {
  border-left: 1px solid $app-gray-4;
  margin: 0 calc(#{$app-gap} / 2);

  &:last-child {
    display: none;
  }
}

.app-cursor-pointer {
  cursor: pointer;
}

.app-row-gap-8 {
  margin-bottom: $app-gap-half !important;
}

.app-row-gap-16 {
  margin-bottom: $app-gap !important;
}

.app-row-gap-32 {
  margin-bottom: $app-gap-double !important;
}

.app-gap-icon-right {
  margin-right: $app-gap-icon;
}

.app-gap-icon-left {
  margin-left: $app-gap-icon;
}

.app-full-width {
  width: 100% !important;
}

.app-font-bold {
  font-weight: 700;
}

.app-label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 700;
}

.app-badge {
  display: inline-flex;
  padding: 0 8px;
  border-radius: $app-border-radius;
  border: 1px solid $app-primary-color;
  color: $app-primary-color;
  height: 32px;
  align-items: center;

  .mat-icon {
    margin-right: 0;
    margin-left: $app-gap-icon;
  }
}

.app-text-icon {
  .mat-icon {
    @include setIcon($position: bottom);
  }
}

// checkbox
.mat-checkbox {
  margin-right: $app-gap-half;

  .mat-checkbox-frame {
    border-color: $app-gray-4;
  }
}

// button toggle
.mat-button-toggle-appearance-standard {
  @extend .app-clean-bg;
  
  .mat-button-toggle-label-content {
    line-height: 34px;
  }
}

// card
.mat-card {
  .mat-icon {
    @include setIcon($size: 20);
  }
  
  .mat-card-header-text {
    @extend .app-clean-mg;

    .mat-card-title {
      font-size: 16px;
    }
  }

  .mat-card-content {
    @extend .app-clean-mg;
  }

  .mat-card-actions {
    padding: 8px;
    margin-bottom: 0 !important;
  }
}