// -- PAGINATOR --

app-paginator {
  .app-sorting {
    .mat-select-arrow {
      border: none !important;
    }
    .app-sort-trigger {
      .mat-icon {
        height: auto;
        line-height: 0.6;
        vertical-align: top;
      }
    }
  }
}