// --- FOOTER ---

app-footer {
  display: block;
  color: $app-footer-color;
  background-color: $app-footer-bg;
  padding: $app-gap;

  .app-left {
    a {
      @extend .app-ml-1;
      
      img {
        @extend .app-mr-2;
        max-height: 20px;
        vertical-align: bottom;
      }
    }
  }

  .app-right {
    .app-logo {
      height: $app-gap;
      vertical-align: text-bottom;
    }
  }
}