// --- HOME ---

app-home {
  .app-cards-wrapper {
    margin-left: -#{$app-gap-card};

    .app-card-wrapper { 
      flex: 0 0 calc(100% - #{$app-gap-card});
      margin: 0 0 $app-gap-card $app-gap-card;

      .app-card-home {
        @extend .app-clean-shadow;
        @include setStateColor(card);
        border-radius: $app-badge-height;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: calc(100% - 32px);
  
        .mat-card-header {
          flex-grow: 1;
  
          .mat-card-avatar {
            background-color: rgba($app-color-lightnes, .2);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 900;
            font-size: 18px;
          }
  
          .mat-card-subtitle {
            color: rgba($app-color-lightnes, .7);
          }
        }
  
        .mat-card-actions {
          strong {
            font-size: 16px;
          }
        }
      }    
    }
  }

  .mat-tab-group {
    .mat-tab-body-wrapper {

      .mat-tab-body {
        padding: $app-gap-double 0;
      } 
    }
  }
}