// --- LAYOUT ---

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// sidenav
mat-sidenav-container, 
mat-sidenav-content, 
mat-sidenav {
  height: 100%;
}
 
mat-sidenav {
  @import "./app-sidenav-list";
  width: 250px;
}

// header
header {
  @import "./app-navbar";
  @import "./app-searchbar";
}

main {
  height: calc(100% - #{$app-navbar-height});
  overflow: auto;
  background-color: $app-gray-1;
  position: relative;
  z-index: -1;

  @import "app-home";
}

@import "./app-footer";

// container
.app-container {
  margin: 0 auto;
  max-width: $app-container;
  width: 100%;
  padding: $app-gap-double 0;
}