// --- DIALOG ---

// general dialog
.mat-dialog-container {
  .mat-dialog-title {
    font-size: 18px;
    font-weight: 600;
    line-height: unset;

    span {
      font-weight: normal;
      color: $app-gray-6;
      font-size: 16px;
    }
  }
}

// login dialog
.app-login-dialog {
  .mat-dialog-container {
    position: relative;

    .mat-progress-bar {
      @extend .app-pa;
    }
  }
}

// state dialog
.app-states-dialog {
  .app-col-stav {
    width: 100px !important;
    
    .mat-select {
      @extend .app-w-100;
    }
  }
}

// password reset dialog
.app-password-reset-dialog {
  .mat-dialog-content {
    .mat-card {
      @extend .app-mb-4, .app-clean-border;
      background-color: $app-gray-1 !important;
    }
  }
}
