// --- SPACER ---

.app-ml-8 {
  margin-left: 8px;
}

.app-mr-8 {
  margin-right: 8px !important;
}

.app-mt-8 {
  margin-top: $app-gap-half !important;
}

.app-mb-8 {
  margin-bottom: $app-gap-half !important;
}

.app-mr-16 {
  margin-right: 16px !important;
}

.app-mb-16 {
  margin-bottom: $app-gap !important;
}

.app-w-100 {
  width: 100% !important;
}

.app-h-100 {
  width: 100% !important;
}







.app-row-gap-32 {
  margin-bottom: $app-gap-double !important;
}

.app-gap-icon-right {
  margin-right: $app-gap-icon;
}

.app-gap-icon-left {
  margin-left: $app-gap-icon;
}

// nagativni
.app-mb-n16 {
  margin-bottom: -#{$app-gap};
}
