// --- RESULT ITEM ---

app-result-item {
  .mat-card {
    @extend .app-clean-bg, .mat-elevation-z0, .app-clean-radius;
    border-bottom: 1px solid $app-brand-border-color;

    .mat-card-title {
      display: flex;
      align-items: flex-start;

      .mat-checkbox {
        display: flex;
      }
    }
  }
}