// --- MIXINS ---

// set icon size
@mixin setIcon($size: null, $color: null, $position: null) {
  @if ($size != null) {
    font-size: #{$size}px;
    height: #{$size}px;
    width: #{$size}px;  
  }
  @if ($color != null) {
    color: $color !important;
  }
  @if ($position != null) {
    vertical-align: $position !important;  
  }
  
}

// clearfix
@mixin cleanfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// set link color
@mixin setLinkColor($color, $opacity: .7) {
  color: $color;

  &:hover {
    color: rgba($color, $opacity);
  }
}

// set state color
@mixin setStateColor($type: null) {
  @each $state, $color in $states {
    @if ($type == "badge") {
      color: $app-gray-6;
      border-color: $app-gray-6;

      &.#{$state} {
        color: $color;
        border-color: $color;
      }
    } @else if ($type == "color") {
      &.#{$state} {
        color: $color;
      }
    }
  }
}

// set gap
@mixin setGap() {
  @each $gap, $val in $gaps {
    // margin
    .app-m-#{$gap} {
      margin: #{$val}px !important;
    }
    .app-ml-#{$gap} {
      margin-left: #{$val}px !important;
    }
    .app-mr-#{$gap} {
      margin-right: #{$val}px !important;
    }
    .app-mt-#{$gap} {
      margin-top: #{$val}px !important;
    }
    .app-mb-#{$gap} {
      margin-bottom: #{$val}px !important;
    }
    
    // padding
    .app-p-#{$gap} {
      padding: #{$val}px !important;
    }
    .app-pl-#{$gap} {
      padding-left: #{$val}px !important;
    }
    .app-pr-#{$gap} {
      padding-right: #{$val}px !important;
    }
    .app-pt-#{$gap} {
      padding-top: #{$val}px !important;
    }
    .app-pb-#{$gap} {
      padding-bottom: #{$val}px !important;
    }
  }
}