// --- NAVBAR ---

app-navbar {
  .mat-toolbar {
    box-shadow: 0 8px 8px 0 rgb(0 0 0 / 4%);
    border-bottom: 1px solid $app-gray-3;
    height: $app-navbar-height;
    background-color: transparent;
  }

  .app-right {
    a {
      &.mat-stroked-button {
        @extend .app-clean-radius;
        color: $app-primary-color;
        border-color: transparent;
        margin: 0 4px;

        &.app-active {
          border: 1px solid $app-primary-color;
        }

        .mat-icon {
          &:not(.app-menu .mat-icon) {
            @include setIcon($size: 20, $position: sub);
          }
        }
      }

      &:hover {
        background-color: $app-primary-color;
        color: $app-color-lightnes;
        border: 1px solid $app-primary-color;
      }

      &.app-active {
        border: 1px solid $app-primary-color;
      }
    }
  }
}