// --- MEDIA QUERIES ---

app-navbar {
  @media #{$gt-sm} {
    .app-nav-mobile {
      display: none;
    }
  }

  @media #{$gt-xs} {
    .app-search {
      display: none;
    }
  }

  @media #{$lt-md} {
    .app-nav-desktop {
      display: none;
    }
  }

  @media #{$lt-sm} {
    .app-logo-hide {
      display: none;
    }

    app-searchbar {
      &.app-searchbar-hide {
        display: none;
      }
    }
  }
}

app-home {
  
}

