<h1 mat-dialog-title>{{ 'desc.registracni_formular' | translate }}</h1>
<div mat-dialog-content>
  <app-user-form [user]="user" [isRegister]="data.isRegister" [focus]="focus"></app-user-form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="save()">{{ 'desc.registrovat_se' | translate }}</button>
  <button mat-flat-button  mat-dialog-close color="primary" *ngIf="!data.isRegister" (click)="resetPwd()">{{ 'desc.reset_hesla' | translate }}</button>
  <button mat-flat-button mat-dialog-close color="primary" *ngIf="state.user" (click)="logout()" [title]="'desc.odhlasit' | translate"><mat-icon class="material-icons-outlined">logout</mat-icon> {{ 'desc.odhlasit' | translate }}</button>
  <button mat-button mat-dialog-close>{{ 'desc.zavrit' | translate }}</button>
</div>
