<footer>
  <div fxLayout="row">
    <div fxFlex class="app-left">
      {{'SDNNT' | translate }} © {{ currentYear }}<span class="app-pipe"></span>
      <a href="https://www.nkp.cz/" [title]="'desc.narodni_knihovna_ceske_republiky' | translate" target="_blank">
        <img src="assets/img/logo-nk.jpeg" [alt]="'desc.narodni_knihovna_ceske_republiky' | translate" />
        {{ 'desc.narodni_knihovna_ceske_republiky' | translate }}
      </a>
    </div>
    <div class="app-right">
      <small>Build: {{gitHash}}</small><span class="app-pipe"></span>Created by 
      <a href="http://www.inovatika.cz" title="Inovatika" target="_blank">
        <img src="./assets/img/logo-inovatika.png" alt="Inovatika" class="app-logo" />
      </a>
    </div>
  </div>
</footer>