<div fxLayout="row" fxLayoutAlign="start baseline">
  <mat-paginator fxFlex class="app-clean-bg"
    [length]="numFound"
    [pageSize]="state.rows"
    [pageIndex]="state.page"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    (page)="pageChanged($event)"
    class="app-clean-bg">
  </mat-paginator>
  
  <!-- <mat-form-field fxFlex="95px" class="app-page-num fxHide_sm fxHide_xs">
    <mat-label>{{ 'Číslo stránky' | translate }}</mat-label>
    <input matInput type="text" [(ngModel)]="pageIndex" (keyup.enter)="setPage()">
    <a matSuffix [matTooltip]="'Přejděte číslo stránky' | translate" (click)="setPage()">
      <mat-icon>send</mat-icon>  
    </a> 
  </mat-form-field> -->
  
  <mat-form-field *ngIf="showSort" fxFlex="120px" class="app-sorting fxHide_md fxHide_sm fxHide_xs">
    <mat-label>{{ 'desc.radit_podle' | translate }}</mat-label>
    <mat-select [(ngModel)]="state.sort[sortType]">
      <mat-select-trigger fxLayout="row" [class.app-sort-trigger]="state.sort[sortType]">
        <ng-container *ngIf="state.sort[sortType]">
          <span fxFlex>{{ 'sort.' + state.sort[sortType].field | translate}}</span>
          <span><mat-icon class="app-m-0">{{ state.sort[sortType].dir === 'desc' ? 'expand_more' : 'expand_less' }}</mat-icon></span>
        </ng-container>
      </mat-select-trigger>
      <mat-option *ngFor="let sort of config.sorts[sortType]" (click)="sortBy(sort)" [value]="sort" fxLayout="row">
        <span fxFlex>{{ 'sort.' + sort.field | translate }}</span>
        <span><mat-icon class="app-m-0">{{ sort.dir === 'desc' ? 'expand_more' : 'expand_less' }}</mat-icon></span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>