<div fxLayout="row" fxLayoutAlign="start baseline">
  <mat-paginator fxFlex class="app-clean-bg"
    [length]="numFound"
    [pageSize]="state.rows"
    [pageIndex]="state.page"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    (page)="pageChanged($event)"
    class="app-clean-bg">
  </mat-paginator>
  
  <mat-form-field fxFlex="95px" class="app-page-num fxHide_sm fxHide_xs">
    <mat-label>{{ 'Číslo stránky' | translate }}</mat-label>
    <input matInput type="text" [(ngModel)]="pageIndex" (keyup.enter)="setPage()">
    <a matSuffix [matTooltip]="'Přejděte číslo stránky' | translate" (click)="setPage()">
      <mat-icon>send</mat-icon>  
    </a> 
  </mat-form-field>
  
  <mat-form-field fxFlex="120px" class="app-sorting fxHide_md fxHide_sm fxHide_xs">
    <mat-label>{{ 'Řazení' | translate }}</mat-label>
    <mat-select [(ngModel)]="state.sort">
      <mat-select-trigger>
        {{state.sort ? ('sortBy.' + state.sort.label | translate) : ('' | translate)}}
      </mat-select-trigger>
      <mat-option *ngFor="let sort of state.sorts" (click)="sortBy(sort)" [value]="sort">
        {{ 'sortBy.' + sort.label | translate }} <mat-icon>{{ sort.dir === 'desc' ? 'arrow_drop_down' : 'arrow_drop_up' }}</mat-icon>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>