<div class="app-container">  
  <ng-container *ngIf="zadost">
    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
      <div fxFlex>
        {{ 'desc.num_found' | translate }}: <strong>{{ numFound }}</strong>
      </div>
      <div>
        <app-paginator [numFound]="numFound"></app-paginator>
      </div>
    </div>
    <div class="app-results-wrapper">
      <mat-card>
        <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
          <div fxFlex>
            <strong>{{ 'desc.prehled_zadosti' | translate }}</strong>
            <ng-container *ngIf="zadost.datum_zadani">
              <span class="app-pipe"></span><span class="app-color-metadata">{{ zadost.datum_zadani }}</span>
              <!-- {{ zadost.user }} {{ zadost.state }} {{ zadost.new_stav }} -->
            </ng-container>
          </div>
          <div>
            <mat-slide-toggle *ngIf="state.user.role === 'kurator'" [(ngModel)]="hideProcessed">{{ 'desc.skryt_zpracovane' | translate }}</mat-slide-toggle>
            <!-- <button *ngIf="zadost.state === 'waiting' && state.user.role === 'kurator'" mat-icon-button [title]="'mark_as_processed' | translate" (click)="process()"><mat-icon>done</mat-icon></button> -->
          </div>
        </div>
      </mat-card>
      <ng-container *ngFor="let doc of docs">
        <app-result-item *ngIf="!hideProcessed || !doc.isProcessed" [doc]="doc" [inZadost]="true" [zadost]="zadost"></app-result-item>
      </ng-container>
    </div>
    <app-paginator [numFound]="numFound"></app-paginator>
  </ng-container>
</div>

