<div class="app-container">  
  <ng-container *ngIf="zadost">
    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
      <div fxFlex>
        {{ 'desc.num_found' | translate }}: <strong>{{ numFound }}</strong>
      </div>
      <div>
        <app-paginator [numFound]="numFound" [showSort]="false"></app-paginator>
      </div>
    </div>
    <div class="app-results-wrapper">
      <mat-card>
        <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
          <div fxFlex>
            <strong>{{ 'desc.prehled_zadosti' | translate }}</strong>
            <ng-container >
              <span class="app-pipe"></span>
              <span class="app-metadata">
                {{ zadost.id }}<span class="app-pipe"></span>
                <ng-container *ngIf="zadost.datum_zadani">{{ zadost.datum_zadani | date : 'dd.MM.yyyy HH:mm' }}<span class="app-pipe"></span></ng-container>
                <ng-container *ngIf="zadost.user">{{ zadost.user }}<span class="app-pipe"></span></ng-container>
                <ng-container *ngIf="zadost.state">
                  <mat-icon class="material-icons-outlined" [class]="zadost.state" [matTooltip]="'state.' + zadost.state | translate" matTooltip="above">
                    <ng-container *ngIf="zadost.state === 'open'">lock_open</ng-container>
                    <ng-container *ngIf="zadost.state === 'waiting'">lock_clock</ng-container>
                    <ng-container *ngIf="zadost.state === 'processed'">lock</ng-container>
                  </mat-icon><span class="app-pipe"></span>
                </ng-container>
                <ng-container *ngIf="zadost.navrh">{{ zadost.navrh }}<span class="app-pipe"></span></ng-container>


                <ng-container *ngIf="zadost.delegated != null">
                  <strong>{{ 'desc.kurator' | translate }}</strong> {{ zadost.delegated }}<span class="app-pipe app-text-cutter"></span>
                </ng-container>

              </span>
            </ng-container>
          </div>
          <div>
            <mat-button-toggle-group *ngIf="(state.user.role === 'kurator' || state.user.role === 'mainKurator')" name="buttonsControl" aria-label="buttonsControl" class="app-mr-4">
              <mat-button-toggle *ngIf="state.user.role === 'mainKurator'" value="" [matMenuTriggerFor]="delegateMenu" matTooltip="Delogovat na jineho uzivatele"><mat-icon class="material-icons-outlined">manage_accounts</mat-icon></mat-button-toggle>
              <mat-button-toggle *ngIf="state.user.role === 'mainKurator'" value="" [matMenuTriggerFor]="priorityMenu" matTooltip="Nastavit prioritu">
                <mat-icon *ngIf="zadost.priority === null" class="material-icons-outlined">priority_high</mat-icon></mat-button-toggle>
                <ng-container *ngIf="zadost.priority !== null" >{{zadost.priority}}</ng-container>
              <mat-button-toggle *ngIf="zadost.state === 'waiting'" mat-button [title]="'desc.oznacit_jako_zpracovane' | translate" (click)="process()">{{'desc.oznacit_jako_zpracovane' | translate}}</mat-button-toggle>
            </mat-button-toggle-group>
           
              <mat-menu #delegateMenu="matMenu">
                <ng-container *ngFor="let d of kurators">
                  <button    (click)="setDelegated(d.jmeno +' '+d.prijmeni)" mat-menu-item>{{d.jmeno +' '+d.prijmeni}}</button>
                </ng-container>
              </mat-menu>

              <mat-menu #priorityMenu="matMenu">
              <button mat-menu-item (click)="setPriority('Priorita 1')">Priorita 1</button>
              <button mat-menu-item (click)="setPriority('Priorita 2')">Priorita 2</button>
              <button mat-menu-item (click)="setPriority('Priorita 3')">Priorita 3</button>
            </mat-menu>
            <!-- <button *ngIf="zadost.state === 'waiting' && state.user.role === 'kurator'" mat-button [title]="'desc.oznacit_jako_zpracovane' | translate" (click)="process()">{{'desc.oznacit_jako_zpracovane' | translate}}</button> -->
            <mat-slide-toggle *ngIf="(state.user.role === 'kurator' || state.user.role === 'mainKurator')" [(ngModel)]="hideProcessed">{{ 'desc.skryt_zpracovane' | translate }}</mat-slide-toggle>
          </div>
        </div>
      </mat-card>
      <ng-container *ngFor="let doc of docs">
        <app-result-item *ngIf="!hideProcessed || !doc.isProcessed" [doc]="doc" 
        [inZadost]="true" [zadost]="zadost" 
        (removeFromZadostEvent)="removeDoc($event)"
        (processZadostEvent)="processNavrh($event)"></app-result-item>
      </ng-container>
    </div>
    <div class="app-mt-4">
      <app-paginator [numFound]="numFound" [showSort]="false"></app-paginator>
    </div>
  </ng-container>
</div>

