<h1 mat-dialog-title>
  {{ 'desc.duvod_pro_odmitnuti' | translate }}
</h1>
<div mat-dialog-content>
  <div fxLayout="row wrap">
    <mat-form-field fxFlex="100%" appearance="fill">
      <mat-label>{{ 'desc.duvod' | translate }}</mat-label>
      <input matInput cdkFocusInitial type="text" [(ngModel)]="reason" autocomplete="on" id="reason">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="reason" cdkFocusInitial>{{ 'desc.ulozit' | translate }}</button>
  <button mat-button mat-dialog-close>{{ 'desc.zavrit' | translate }}</button>
</div>

