<h1 mat-dialog-title>
  <ng-container  *ngIf="data.isNavrh">
    <label for="wholeTitle">{{'desc.na_cely_titul' | translate }}</label>
    <input type="checkbox" (change)="setWhole($event)" [(ngModel)]="isWhole" />
  </ng-container>
  {{ 'desc.granularita' | translate }}: <span>{{ data.title }}</span>
</h1>
<div mat-dialog-content>
  <div class="app-overflow-x-auto">
    <table [cellPadding]="0" [cellSpacing]="0" class="app-table">
      <thead>
        <tr>
          <th  *ngIf="data.isNavrh"></th>
          <th>{{ 'desc.rocnik' | translate }}</th>
          <th>{{ 'desc.cislo' | translate }}</th>
          <th>{{ 'desc.odkaz' | translate }}</th>
          <th>{{ 'desc.stav' | translate }}</th>
          <th>{{ 'desc.licence' | translate }}</th>
          <th>{{ 'desc.kramerius_license' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of data.items">
          <tr *ngIf="item.rocnik" >
            <td *ngIf="data.isNavrh"><input [disabled]="isWhole" type="checkbox" (change)="setSelection(item)" [(ngModel)]="item.selected"  /></td>
            <td>{{ item.rocnik }}</td>
            <td>{{ item.cislo }}</td>
            <td> <a  [href]="item.link" target="_blank" >{{item.link }}</a>   </td>
            <td><ng-container *ngFor="let s of  item.stav">{{ s }}&#160;</ng-container></td>    
            <td>{{item.license}}</td>

            <td style="font-style: italic;">{{ item && item.kram_licenses ?  item.kram_licenses.join(',') : ''}}</td>

          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button mat-dialog-close color="primary" cdkFocusInitial>{{ 'desc.zavrit' | translate }}</button>
</div>