<div class="app-container">
  <div fxLayout="row" fxLayoutGap="32px">
    <div fxFlex="350px" class="app-left">
      <app-facets *ngIf="facets" [facet_fields]="facets"></app-facets>
    </div>
    <div fxFlex class="app-right">
      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
        <div fxFlex>
          {{ 'desc.num_found' | translate }}: <strong>{{ numFound }}</strong>
        </div>
        <div>
          <app-paginator [numFound]="numFound"></app-paginator>
        </div>
      </div>
      <div class="app-results-wrapper">
        <mat-card *ngIf="this.state.user">
          <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
            <div fxFlex>
              <mat-checkbox *ngIf="hasStateFilter">{{ 'desc.vybrat_vse' | translate }}</mat-checkbox>
            </div>
            <div>
              <mat-button-toggle-group>
                <mat-button-toggle *ngIf="hasStateFilter" (click)="addToZadost()" value="bold"><mat-icon class="material-icons-outlined app-gap-icon-right">check</mat-icon>{{ 'desc.hromadny_navrh' | translate }}</mat-button-toggle>
                <mat-button-toggle value="italic"><mat-icon class="material-icons-outlined app-gap-icon-right">file_download</mat-icon>{{ 'desc.export' | translate }}</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
        </mat-card>
        <app-result-item *ngFor="let doc of docs" [doc]="doc"></app-result-item>
      </div>
      <app-paginator [numFound]="numFound"></app-paginator>
    </div>
  </div>
</div>