<div class="app-container">
  <div fxLayout="row" >
    <div fxFlex="300px" class="app-left">
      <ng-container *ngIf="facets">
        <app-facets [facet_fields]="facets"></app-facets>
      </ng-container>
    </div>
    <div fxFlex>
      <div fxLayout="row" fxLayoutGap="32px" class="app-row-gap-16">
        <div fxFlex>
          <mat-checkbox>{{ 'desc.vybrat_vse' | translate }}</mat-checkbox>
          
        </div>
        <div>
          {{ 'desc.num_found' | translate }}: <strong>{{ numFound }}</strong>
        </div>
      </div>
      <div class="app-result-items-wrapper">
        <app-result-item *ngFor="let doc of docs" [doc]="doc"></app-result-item>
      </div>
    </div>
  </div>
</div>

<!-- <div fxLayout="row" >
  <div fxFlex class="app-fx-left">{{ 'numFound' | translate }}: {{ numFound }}</div>
  <div fxFlex class="app-fx-left">
    <mat-checkbox>Vybrat vse</mat-checkbox>
    <button mat-raised-button>Hromdana zmena stavu</button>
    <button mat-raised-button>Exporty</button>
  </div>
  <div fxFlex class="app-fx-right"><app-paginator [numFound]="numFound"></app-paginator></div>
</div> -->